body {
  margin: 1cm;
}
h1 {
  color: #00008b;
  font-size: 50px;
  padding: 10px;
  position: relative;
  left: 12%;
}
h2,
h3 {
  font-weight: 100;
  font-size: 40px;
  color: #6495ed;
  padding: 10px;
}
.day {
  padding: 20px;
}
.week {
  text-align: justify;
  font-size: 24px;
  position: relative;
  left: 12%;
  line-height: 2;
}
.card {
  background-color: #f0f8ff;
}
.value {
  color: #00008b;
}

.metric {
  font-size: 8px;
}

button {
  background-color: whitesmoke;
  color: #00008b;
  margin: 0 auto;
  padding: 5px 7px;
  border-radius: 5px;
}
